<?xml version="1.0"?>

<model>
  <name>15deg_convex</name>
  <version>1.0</version>
  <sdf version="1.5">15deg_convex.sdf</sdf>

  <author>
    <name>Sergi Garcia</name>
    <email>sergi.garcia@pal-robotics.com</email>
  </author>

  <description>
    Eurobench uneven terrain 15 deg convex
  </description>

</model>
