<?xml version="1.0"?>

<model>
  <name>5deg_concave</name>
  <version>1.0</version>
  <sdf version="1.5">5deg_concave.sdf</sdf>

  <author>
    <name>Sergi Garcia</name>
    <email>sergi.garcia@pal-robotics.com</email>
  </author>

  <description>
    Eurobench uneven terrain 5deg concave
  </description>

</model>
